<!DOCTYPE html>
<html lang = "en" class="tas-com">
<head>
	<meta charset="utf-8">
	<title>D3: Selections in D3</title>
	<script type="text/javascript" src="../d3/d3.v4.js" charset="utf-8"></script>
	<link rel="stylesheet" href="../css/styles.css">
</head>
<body>
	<div class="parent">
		<div class='left-panel'>
			<div class='filter-wrapper'> 
				<div class='year-selection-wrapper'>
					<div class='year-selector-button' onclick="showYearSelector()">
						<div>
							Select Year 
						</div>
						<div>
						   <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24">
							    <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
							    <path d="M0-.25h24v24H0z" fill="none"/>
							</svg>
						</div>
					</div>
					<div class='year-selector-panel'>
						<div class='arrow'>
							<svg fill="#aaa" height="36" viewBox="0 0 24 24" width="36">
								<path d="M8 5v14l11-7z"/>
								<path d="M0 0h24v24H0z" fill="none"/>
							</svg>
						</div>
					    <div class='years'>
					    	<div class='left-arrow' onclick='onLeftArrowClick()'>
						    	<svg fill="#555" height="36" viewBox="0 -5 24 24" width="36" >
								    <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
								    <path d="M0-.75h24v24H0z" fill="none"/>
								</svg>
							</div>
							<div class='right-arrow' onclick='onRightArrowClick()'>
								<svg fill="#555" height="36" viewBox="0 -5 24 24" width="36">
								    <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
								    <path d="M0-.75h24v24H0z" fill="none"/>
								</svg>
							</div>
					    </div>
					</div>
				</div>
				<div class='country-selection-wrapper'>
					<div class='country-selector-button' onclick="showCountySelector()">
						<div>Select Country</div>
						<div style='transform : rotate(90deg)'>
						   <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24">
							    <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
							    <path d="M0-.25h24v24H0z" fill="none"/>
							</svg>
						</div>
					</div>
					<div class='country-selection-panel'>
						<div class='country-selector'>
							<div class='countries'>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='graph'>
				
			</div>
			<div class='play-animation-wrapper'>
				<div class='play-animation-button'>
					<svg class='play' fill="#000" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
					    <path d="M8 5v14l11-7z"/>
					    <path d="M0 0h24v24H0z" fill="none"/>
					</svg>
					<svg class='pause' fill="#000000" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
					    <path d="M6 19h4V5H6v14zm8-14v14h4V5h-4z"/>
					    <path d="M0 0h24v24H0z" fill="none"/>
					</svg>
				</div>
				
				<div class='animation-progress'>
					<div class=progress-bar>
					</div>
				</div>
			</svg>
			</div>

		</div>
		<div  class='right-panel'>
			<div class='show-trace'>
					 <Span class='label'>Show Trace</Span>
					<label class="switch">
					  <input type="checkbox" id='checkbox' onchange="showTrace(this.checked)">
					  <span class="slider round"></span>
					</label>
			</div>
			<div class='reset-button'>	
				<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
				    <path d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"/>
				    <path d="M0 0h24v24H0z" fill="none"/>
				</svg>
				<div>Reset Selection</div>
			</div>
			<div class="header-wrapper">
			<div class='year-header'>
			</div>
			</div>
			<div class='countriesPerRegion'>
			</div>
			<div class ='bar-graph-label'>Region Vs Number of Countries </div>
			<div class='countriesPerGovt'>
			</div>
			<div class ='bar-graph-label'>Government Type Vs Number of Countries</div>
		</div>
	</div>
	<script type="text/javascript" src="../js/graphEvents.js"></script>
	<script type="text/javascript" src="../js/graph.js"></script>
	<script type="text/javascript" src="../js/utility.js"></script>
	<script type="text/javascript" src="../js/CountriesPerRegion.js"></script>
	<script type="text/javascript" src="../js/CountriesPerGovt.js"></script>
</body>	 
</html>